<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
<!--User getUserByEmail(@Param("email") int email);-->
<select id="getUserByEmailAndPassword" resultType="com.example.demo.entity.User">
    select * from user where email = #{email} and password = #{password}
</select>
<select id="getUserByEmail" resultType="com.example.demo.entity.User">
    select * from user where email = #{email}
</select>
</mapper>
