* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}

a {
	text-decoration: none;
	/* color: #666666; */
	width: 30px;
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
}

li {
	list-style: none;
}

i, em {
	font-style: normal;
	display: inline-block;
}

input {
	width: 225px;
	height: 30px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	outline: 0;
}

button {
	width: 120px;
	height: 30px;
	background-color: rgb(242, 242, 242);
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	outline: 0;
}

button:hover {
	background-color: rgb(247, 177, 36);
	cursor: pointer;
	color: white;
}












